        body {
            background-image: url("./image/shara\ desert.jpg");
            zoom: 100%;
        }
        
        .flex {
            color: white;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            width: 350px;
            float: right;
            margin-top: 10px;
            margin-left: 20px;
        }
        
        .a {
            text-decoration: none;
            color: white;
        }
        
        .sah {
            color: white;
            height: 150px;
            width: 550px;
            font-size: large;
            position: absolute;
            top: 42%;
            left: 10%;
            text-align: justify;
        }
        
        .cam {
            zoom: 30%;
            position: absolute;
            margin-left: 10%;
            margin-top: 7%;
        }
        
        #lh {
            font-size: 4em;
            zoom: 150%;
            line-height: 0px;
            font-weight: bolder;
        }
        
        .f1 {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            width: 500px;
            gap: 40px;
            position: absolute;
            top: 100px;
            right: 140px;
        }
        
        .i {
            height: 450px;
            width: 400px;
            zoom: 60%;
            border-radius: 15px;
            transition: all 0.2s linear;
            cursor: pointer;
        }
        
        .i:hover {
            transform: translateY(-30px);
        }
        
        .i1 {
            background-image: url("./image/pic-1.png");
        }
        
        .i2 {
            background-image: url("./image/pic-2.png");
        }
        
        .i3 {
            background-image: url("./image/pic-3.png");
        }
        
        .i4 {
            background-image: url("./image/pic-4.png");
        }
        
        .text {
            color: white;
            font-size: xx-large;
        }
        
        button {
            padding: 10px;
            width: 184px;
            height: 46px;
            background: white;
            border: none;
            border-radius: 23px;
            font-size: 14px;
            margin-top: 18px;
            text-decoration: none;
        }
        
        a {
            text-decoration: none;
            color: black;
        }
        
        @media screen and (min-width:360px) and (max-width:560px) {
            body {
                zoom: 100%;
                overflow-x: hidden;
            }
            .f1 {
                position: absolute;
                top: 65%;
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: right;
                left: 40%;
            }
            .cam {
                zoom: 20%;
            }
            .flex {
                display: grid;
                margin-right: -280px;
            }
            .sah {
                font-size: xx-small;
                margin-top: -140px;
            }
            p {
                font-size: large;
                text-align: justify;
            }
        }
        
        @media screen and (min-width:562px) and (max-width:856px) {
            body {
                zoom: 70%;
                overflow-x: hidden;
            }
            .f1 {
                position: absolute;
                top: 65%;
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: right;
                left: 40%;
            }
            .cam {
                zoom: 20%;
            }
            .sah {
                font-size: xx-small;
                margin-top: -140px;
            }
            p {
                font-size: large;
                text-align: justify;
            }
            .i {
                width: 1000px;
                height: 500px;
                margin-left: -380px;
                background-size: cover;
            }
        }